# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.local` instead.

ENV_VARIABLE="server_only_variable"
NEXT_PUBLIC_ENV_VARIABLE="public_variable"
API_URL=http://example.api.nals.vn/api/v1
I18N_INPUT=./[ProjectName] Messages List.xlsx
I18N_SHEETS=Locale Messages,Server Error Messages
I18N_OUTPUT=./public/static/locales
PORT=3000